<li class="article-list-item list-item--space-between">
  <span>
    <a class="article-link" href="{{url}}">{{title}}</a>
  </span>
  <time class="article-date no-wrap">{{date format="MMM D, YYYY"}}</time>
</li>