<div class="wrapper---discovery-button">
<link href="https://calendar.google.com/calendar/scheduling-button-script.css" rel="stylesheet">
<script src="https://calendar.google.com/calendar/scheduling-button-script.js" async></script>
<script>
(function() {
  var target = document.currentScript;
  window.addEventListener('load', function() {
    calendar.schedulingButton.load({
      url: 'https://calendar.google.com/calendar/appointments/schedules/AcZssZ19MguKW8Kaej3wuQI_XUcibxwzP6acbVO7j1lPJ4hf9j7OEZEKzHPoWbWgtAShZxX7QnFNmIKM?gv=true',
      color: '#ffffff',
      label: "Let's talk",
      class: "link--button",
      target,
    });
  });
})();
</script>
</div>