<link
  href="https://assets.calendly.com/assets/external/widget.css"
  rel="stylesheet"
/>
<script
  src="https://assets.calendly.com/assets/external/widget.js"
  type="text/javascript"
  async
></script>
<a
  class="link--button"
  href=""
  onclick="Calendly.initPopupWidget({url: 'https://calendly.com/farai/coaching-intro?hide_landing_page_details=1&hide_gdpr_banner=1&background_color=ffeff7&text_color=222222&primary_color=5200ff'});return false;"
>Book a free intro call</a>