<div class="course-cta-bar">
  <div class="flex items-center">
    <div>
      <div
        class="text--height-1 text--small course-price course-price--dark text--bold"
      >$2,275 USD</div>
      <div class="text--height-1-50 text-dark text--tiny text--medium">
        <span>⭐⭐⭐⭐ <span class="text--tight">4 (178)</span></span>
        <span class="margin-h-quarter text--dark-gray text--tight">·</span>
        <span>6 Weeks</span>
        <span class="margin-h-quarter text--dark-gray text--tight">·</span>
        <span>Starting Apr 30</span>
      </div>

    </div>

  </div>
  <a class="text--small text--medium link--button global-button" href="#">Enroll
    today</a>
</div>