<div
  class="text-zinc-950 fixed top-0 left-0 right-0 z-30 h-20 border-b border-gray-300 bg-white px-10 transition-opacity duration-300 lg:block opacity-100"
>
  <div class="flex h-full justify-between 2xl:mx-auto 2xl:max-w-360">
    <div class="flex items-center">
      <div class="text-sm space-y-1 md:prose-md">
        <p class="m-0">{{title}}</p>
        <div class="b4 flex items-center">
          <div class="hover:cursor-pointer">
            <div class="flex items-center space-x-1">
              <div class="flex">
                <svg
                  class="text-accent3"
                  width="16"
                  height="16"
                  viewBox="0 0 16 16"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                ><path
                    d="M7.54087 2.06465C7.71452 1.66198 8.28548 1.66198 8.45913 2.06465L9.68882 4.91615C9.83669 5.25903 10.1633 5.49097 10.5357 5.51761L13.7332 5.74628C14.1861 5.77867 14.3649 6.34917 14.0115 6.6342L11.6225 8.56103C11.3176 8.80695 11.1844 9.20824 11.2817 9.58768L12.028 12.4994C12.1384 12.9301 11.6738 13.2799 11.2904 13.0547L8.50647 11.4195C8.1938 11.2358 7.8062 11.2358 7.49353 11.4195L4.70961 13.0547C4.32622 13.2799 3.86164 12.9301 3.97203 12.4994L4.71834 9.58768C4.81559 9.20824 4.68235 8.80695 4.37746 8.56103L1.98853 6.6342C1.63514 6.34917 1.81391 5.77867 2.26676 5.74628L5.46426 5.51761C5.83672 5.49097 6.16331 5.25903 6.31118 4.91615L7.54087 2.06465Z"
                    fill="currentColor"
                    stroke="currentColor"
                  ></path></svg>
                <svg
                  class="text-accent3"
                  width="16"
                  height="16"
                  viewBox="0 0 16 16"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                ><path
                    d="M7.54087 2.06465C7.71452 1.66198 8.28548 1.66198 8.45913 2.06465L9.68882 4.91615C9.83669 5.25903 10.1633 5.49097 10.5357 5.51761L13.7332 5.74628C14.1861 5.77867 14.3649 6.34917 14.0115 6.6342L11.6225 8.56103C11.3176 8.80695 11.1844 9.20824 11.2817 9.58768L12.028 12.4994C12.1384 12.9301 11.6738 13.2799 11.2904 13.0547L8.50647 11.4195C8.1938 11.2358 7.8062 11.2358 7.49353 11.4195L4.70961 13.0547C4.32622 13.2799 3.86164 12.9301 3.97203 12.4994L4.71834 9.58768C4.81559 9.20824 4.68235 8.80695 4.37746 8.56103L1.98853 6.6342C1.63514 6.34917 1.81391 5.77867 2.26676 5.74628L5.46426 5.51761C5.83672 5.49097 6.16331 5.25903 6.31118 4.91615L7.54087 2.06465Z"
                    fill="currentColor"
                    stroke="currentColor"
                  ></path></svg><svg
                  class="text-accent3"
                  width="16"
                  height="16"
                  viewBox="0 0 16 16"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                ><path
                    d="M7.54087 2.06465C7.71452 1.66198 8.28548 1.66198 8.45913 2.06465L9.68882 4.91615C9.83669 5.25903 10.1633 5.49097 10.5357 5.51761L13.7332 5.74628C14.1861 5.77867 14.3649 6.34917 14.0115 6.6342L11.6225 8.56103C11.3176 8.80695 11.1844 9.20824 11.2817 9.58768L12.028 12.4994C12.1384 12.9301 11.6738 13.2799 11.2904 13.0547L8.50647 11.4195C8.1938 11.2358 7.8062 11.2358 7.49353 11.4195L4.70961 13.0547C4.32622 13.2799 3.86164 12.9301 3.97203 12.4994L4.71834 9.58768C4.81559 9.20824 4.68235 8.80695 4.37746 8.56103L1.98853 6.6342C1.63514 6.34917 1.81391 5.77867 2.26676 5.74628L5.46426 5.51761C5.83672 5.49097 6.16331 5.25903 6.31118 4.91615L7.54087 2.06465Z"
                    fill="currentColor"
                    stroke="currentColor"
                  ></path></svg><svg
                  class="text-accent3"
                  width="16"
                  height="16"
                  viewBox="0 0 16 16"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                ><path
                    d="M7.54087 2.06465C7.71452 1.66198 8.28548 1.66198 8.45913 2.06465L9.68882 4.91615C9.83669 5.25903 10.1633 5.49097 10.5357 5.51761L13.7332 5.74628C14.1861 5.77867 14.3649 6.34917 14.0115 6.6342L11.6225 8.56103C11.3176 8.80695 11.1844 9.20824 11.2817 9.58768L12.028 12.4994C12.1384 12.9301 11.6738 13.2799 11.2904 13.0547L8.50647 11.4195C8.1938 11.2358 7.8062 11.2358 7.49353 11.4195L4.70961 13.0547C4.32622 13.2799 3.86164 12.9301 3.97203 12.4994L4.71834 9.58768C4.81559 9.20824 4.68235 8.80695 4.37746 8.56103L1.98853 6.6342C1.63514 6.34917 1.81391 5.77867 2.26676 5.74628L5.46426 5.51761C5.83672 5.49097 6.16331 5.25903 6.31118 4.91615L7.54087 2.06465Z"
                    fill="currentColor"
                    stroke="currentColor"
                  ></path></svg><svg
                  class="text-accent3"
                  width="16"
                  height="16"
                  viewBox="0 0 16 16"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                ><path
                    fill-rule="evenodd"
                    d="M8.91829 1.86666C8.57099 1.06131 7.42908 1.06132 7.08178 1.86666L5.85209 4.71815C5.77815 4.88959 5.61486 5.00556 5.42863 5.01888L2.23113 5.24756C1.32543 5.31233 0.967893 6.45333 1.67466 7.02338L4.06359 8.95021C4.21604 9.07317 4.28266 9.27382 4.23403 9.46354L3.48772 12.3753C3.26693 13.2367 4.1961 13.9362 4.96288 13.4858L7.7468 11.8506C7.90314 11.7588 8.09693 11.7588 8.25327 11.8506L11.0372 13.4858C11.804 13.9362 12.7331 13.2367 12.5123 12.3753L11.766 9.46354C11.7174 9.27382 11.784 9.07317 11.9365 8.95021L14.3254 7.02338C15.0322 6.45333 14.6746 5.31233 13.7689 5.24756L10.5714 5.01888C10.3852 5.00556 10.2219 4.88959 10.148 4.71815L8.91829 1.86666ZM8.00003 2.26265L9.22973 5.11414C9.45153 5.62847 9.94142 5.97638 10.5001 6.01633L13.6976 6.24501L11.3087 8.17184C10.8513 8.54072 10.6515 9.14266 10.7974 9.71182L11.5437 12.6236L8.75974 10.9884C8.52522 10.8506 8.26261 10.7817 8 10.7817V2.26273L8.00003 2.26265Z"
                    clip-rule="evenodd"
                    fill="currentColor"
                  ></path></svg>
              </div>
              <p class="m-0 font-semibold">4.7</p>
            </div>
          </div>
          <span class="mx-2">·</span>
          <div class="flex items-center hover:cursor-pointer">
            <p class="text-nowrap m-0">7 Weeks</p>
            <span class="mx-2">·</span>
          </div>
          <p class="text-nowrap m-0">$850 USD</p>
        </div>
      </div>
    </div>
    <div class="flex items-center space-x-4">
      <div class="text-sm inline-flex items-center flex">
        <a class="text-zinc-950" href="#overview">Overview</a>
        <a class="text-zinc-950" href="#syllabus">Syllabus</a>
        <a class="text-zinc-950" href="#bio">Instructor</a>
        <a class="text-zinc-950" href="#schedule">Schedule</a>
        <a class="text-zinc-950" href="#faqs">FAQs</a>
      </div>
      <div class="opacity-100 -translate-y-0">
        <div>
          <a href="./apply">
            <div data-tip="false" class="text-sm">
              <button
                class="mx-auto shrink-0 clp-text-white clp-bg-primary hover:opacity-90 hover:clp-bg-primary justify-center items-center flex shadow-sm hover:shadow-md disabled:shadow-none ease-out duration-200 font-medium disabled:cursor-default h-12 px-6 b2 rounded-lg bg-gray-900 hover:bg-black disabled:bg-gray-500"
                type="button"
              >Apply today</button>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>