<div class="subscribe-section">
  <div class="subscribe-wrap">
    <form data-members-form="subscribe" class="subscribe-form">
      <input
        data-members-email=""
        type="email"
        placeholder="Email"
        aria-label="Email"
        required=""
      />
      <button class="global-button button-clone" type="submit">Subscribe</button
      ><button class="global-button" type="submit" style="display: none" disabled="">
        Subscribe
      </button>
    </form>
    <div class="subscribe-form-caption">
      Every Monday get 1 practical tip you can use to improve your 1:1 conversations.
    </div>
    <div class="subscribe-alert">
      <small class="alert-loading global-alert">Processing ...</small>
      <small class="alert-success global-alert"
        >Please check your inbox and click the link to confirm your subscription.</small
      >
      <small class="alert-error global-alert">There was an error sending the email</small>
    </div>
  </div>
</div>
