<div class="subscribe-section">
  <div class="subscribe-wrap">
    <form data-members-form="subscribe" class="subscribe-form">
      <input
        data-members-email=""
        type="email"
        placeholder="Your email address"
        aria-label="Your email address"
        required=""
      />
      <button
        class="global-button button-clone"
        type="submit"
      >Subscribe</button><button
        class="global-button"
        type="submit"
        style="display:none"
        disabled=""
      >Subscribe</button>
    </form>
    <div class="subscribe-form-caption">
      Every Monday get 1 practical tip to make you 1% better at managing people.
    </div>
    <div class="subscribe-alert">
      <small class="alert-loading global-alert">Processing your application</small>
      <small class="alert-success global-alert">Please check your inbox and
        click the link to confirm your subscription.</small>
      <small class="alert-error global-alert">There was an error sending the
        email</small>
    </div>
  </div>
</div>