{{!< default}}

{{#post}}

  <section class="section--with-grid section--wide-content">
    <div class="section-heading mb-8">
      <h1 class="low-top">{{title}}</h1>
      <div class="course-attributes-wrapper caption">
        {{! <span>⭐⭐⭐⭐ 4 (15)</span> }}
        {{! <span>Cohort-based</span> }}
        <span>90 Minutes</span>
        <span class="mx-2">·</span>
        <span>Online &amp; Interactive </span>
        <span class="mx-2">·</span>
        <span>US $99</span>
      </div>
    </div>
    <div class="section-content">
        <p>
          👋🏾 Hey People Manager, what do you say 1:1 when people on your team
          are struggling?
          </p>  

      <div class="video aspect-video">
        <div
          class="rounded-sm"
          style="padding:56.25% 0 0 0;position:relative;"
        ><iframe
            src="https://player.vimeo.com/video/997140127?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
            frameborder="0"
            allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
            style="position:absolute;top:0;left:0;width:100%;height:100%;"
            title="Intro to 1:1 Fundamentals"
          ></iframe></div><script
          src="https://player.vimeo.com/api/player.js"
        ></script>
      </div>  
      <div class="mt-12">
        <p class="text-gray-700 uppercase caption mb-">Trusted by People Managers at</p>
        <div class="flex items-center space-x-6 sm:space-x-10"><div class="w-28 relative h-10 grayscale"><span style="box-sizing: border-box; display: block; overflow: hidden; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; position: absolute; inset: 0px;"><img alt="Adobe" src="https://asset.brandfetch.io/id_KsyK7J9/idk8IZnNuj.svg" decoding="async" data-nimg="fill" style="position: absolute; inset: 0px; box-sizing: border-box; padding: 0px; border: medium; margin: auto; display: block; width: 0px; height: 0px; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%; object-fit: contain;" sizes="100vw" srcset="https://asset.brandfetch.io/id_KsyK7J9/idk8IZnNuj.svg 415w, https://asset.brandfetch.io/id_KsyK7J9/idk8IZnNuj.svg 768w, https://asset.brandfetch.io/id_KsyK7J9/idk8IZnNuj.svg 1024w, https://asset.brandfetch.io/id_KsyK7J9/idk8IZnNuj.svg 1280w, https://asset.brandfetch.io/id_KsyK7J9/idk8IZnNuj.svg 1536w"></span></div><div class="w-28 relative h-10 grayscale"><span style="box-sizing: border-box; display: block; overflow: hidden; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; position: absolute; inset: 0px;"><img alt="Zendesk®" src="https://asset.brandfetch.io/idNq8SRGPd/idWoPzaxZO.svg" decoding="async" data-nimg="fill" style="position: absolute; inset: 0px; box-sizing: border-box; padding: 0px; border: medium; margin: auto; display: block; width: 0px; height: 0px; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%; object-fit: contain;" sizes="100vw" srcset="https://asset.brandfetch.io/idNq8SRGPd/idWoPzaxZO.svg 415w, https://asset.brandfetch.io/idNq8SRGPd/idWoPzaxZO.svg 768w, https://asset.brandfetch.io/idNq8SRGPd/idWoPzaxZO.svg 1024w, https://asset.brandfetch.io/idNq8SRGPd/idWoPzaxZO.svg 1280w, https://asset.brandfetch.io/idNq8SRGPd/idWoPzaxZO.svg 1536w"></span></div><div class="w-12 relative h-10 grayscale"><span style="box-sizing: border-box; display: block; overflow: hidden; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; position: absolute; inset: 0px;"><img alt="Standard Bank Group" src="/_next/image?url=https%3A%2F%2Fasset.brandfetch.io%2Fids9vvzhtN%2FidgqpuVAzW.jpeg&amp;w=1536&amp;q=75" decoding="async" data-nimg="fill" style="position: absolute; inset: 0px; box-sizing: border-box; padding: 0px; border: medium; margin: auto; display: block; width: 0px; height: 0px; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%; object-fit: contain;" sizes="100vw" srcset="/_next/image?url=https%3A%2F%2Fasset.brandfetch.io%2Fids9vvzhtN%2FidgqpuVAzW.jpeg&amp;w=415&amp;q=75 415w, /_next/image?url=https%3A%2F%2Fasset.brandfetch.io%2Fids9vvzhtN%2FidgqpuVAzW.jpeg&amp;w=768&amp;q=75 768w, /_next/image?url=https%3A%2F%2Fasset.brandfetch.io%2Fids9vvzhtN%2FidgqpuVAzW.jpeg&amp;w=1024&amp;q=75 1024w, /_next/image?url=https%3A%2F%2Fasset.brandfetch.io%2Fids9vvzhtN%2FidgqpuVAzW.jpeg&amp;w=1280&amp;q=75 1280w, /_next/image?url=https%3A%2F%2Fasset.brandfetch.io%2Fids9vvzhtN%2FidgqpuVAzW.jpeg&amp;w=1536&amp;q=75 1536w"></span></div><div class="w-28 relative h-10 grayscale"><span style="box-sizing: border-box; display: block; overflow: hidden; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; position: absolute; inset: 0px;"><img alt="Automattic" src="https://asset.brandfetch.io/idZ_Pp1M23/idRk0XClo1.svg" decoding="async" data-nimg="fill" style="position: absolute; inset: 0px; box-sizing: border-box; padding: 0px; border: medium; margin: auto; display: block; width: 0px; height: 0px; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%; object-fit: contain;" sizes="100vw" srcset="https://asset.brandfetch.io/idZ_Pp1M23/idRk0XClo1.svg 415w, https://asset.brandfetch.io/idZ_Pp1M23/idRk0XClo1.svg 768w, https://asset.brandfetch.io/idZ_Pp1M23/idRk0XClo1.svg 1024w, https://asset.brandfetch.io/idZ_Pp1M23/idRk0XClo1.svg 1280w, https://asset.brandfetch.io/idZ_Pp1M23/idRk0XClo1.svg 1536w"></span></div><div class="w-28 relative h-10 grayscale"><span style="box-sizing: border-box; display: block; overflow: hidden; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; position: absolute; inset: 0px;"><img alt="Ogilvy South Africa" src="https://asset.brandfetch.io/idJgiDwaFK/idR91H9CRi.svg" decoding="async" data-nimg="fill" style="position: absolute; inset: 0px; box-sizing: border-box; padding: 0px; border: medium; margin: auto; display: block; width: 0px; height: 0px; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%; object-fit: contain;" sizes="100vw" srcset="https://asset.brandfetch.io/idJgiDwaFK/idR91H9CRi.svg 415w, https://asset.brandfetch.io/idJgiDwaFK/idR91H9CRi.svg 768w, https://asset.brandfetch.io/idJgiDwaFK/idR91H9CRi.svg 1024w, https://asset.brandfetch.io/idJgiDwaFK/idR91H9CRi.svg 1280w, https://asset.brandfetch.io/idJgiDwaFK/idR91H9CRi.svg 1536w"></span></div></div>
    </div>
      </div>
      
  </section>
  <section class="section--with-grid">
    <h2 class="section-heading">Stop Dreading and fudging 1:1s.
      <br/>
      Start having confident conversations
    </h2>
    <div class="section-content">

      <div>
        <p>Do you dread 1:1s about missed expectations, low performance and
          work-life problems?
        </p>
        <p>I know the feels.</p>
        <p>Maybe someone on your team is struggling to have impact.
          <p>Or dealing with a distracting issue at home.</p>
          <p>Or they seem like they want to quit.</p>
          <p>Or something just seems off, but, you're not sure what.</p>
          <p>You know you should bring it up in your next 1:1. <br/><i>But</i>, like so many
            managers we've spoken to, <i>you hesitate</i> and ask things like:</p>

          <p class="mb-1">❓What do I ask to better understand the situation?</p>
          <p class="mb-1">❓What do I say to help them make progress?</p>
          <p class="mb-1">❓How do I say it and still sound like a human,
            like myself?</p>
          <p>❓What if they get emotional about it?</p>
          <p>So what do you do?
          </p>
          <p class="mb-1">🙈 Ignore the situation, and hope it improves. </p>
          <p class="mb-1">🔁 Copy what your old boss / role model did. </p>
          <p class="mb-1">🤖 Ask ChatGPT what
          to do.</p>
          <p>🤷🏾‍♀️ Just YOLO it and see what happens.</p>
          <p>Sure, these will get you some
          kind of result. Does this make you feel like you know what you're doing?</p>
          <p>Can you rely on this to keep people from quitting?</p>
          <p>Can you rely on this to keep your job? Let alone get
          promoted? Maybe.</p>
          <p>Alternatively ...</p>
          <p>You could take this course and build the skills to know what to say and confidence to say it when it counts.</p>
      </div>
      </section>

  <section class="section--with-grid">
    <h2 class="section-heading">Questions this course will answer:</h2>
    <div class="section-content">
      <div>
        <ul class="list-disc">
          <li class="mb-4">What makes a 1:1 "good"?</li>
          <li class="mb-4">How often should I have 1:1s?</li>
          <li class="mb-4">How long should my 1:1s last?</li>
          <li class="mb-4">Who should create the 1:1 agenda?</li>
          <li class="mb-4">How do I get people to talk about important issues?</li>
          <li class="mb-4">Why do I find it difficult to say the thing?</li>
          <li class="mb-4">How do I build trust with my 1:1s?</li>
          <li class="mb-4">How does culture affect my 1:1s?</li>
        </ul>
        <h3><i>Wait, that's not all</i></h3>
        <p>This course also includes:</p>
        <ul class="list-disc">
          <li class="mb-4">A conversation guide for 21 critical situations and conversations</li>
          <li class="mb-4">A comprehensive list of common 1:1 mistakes to avoid</li>
        </ul>
      </div>
      <div class="mt-1 pt-6">
        <a class="global-button" href="https://heypeoplemanager.teachable.com/purchase?product_id=5725281">Ready to Enroll?</a>
      </div>
    </div>
  </section>
  <section class="section--with-grid">
    <h2 class="section-heading">Here's what you'll get:</h2>
    <div class="section-content">
      <h3>Half instruction. Half coaching. <br />Everything you need.</h3>
      <ul class="list-disc">
        <li >Lifetime access to your video and course materials</li>
        <li>8 interactive live sessions</li>
        <li>21 in-depth lessons</li>
        <li>Direct access to instructor</li>
        <li>1 project to apply learnings</li>
        <li>Guided feedback &amp; reflection</li>
        <li>Private community of peers</li>
        <li>Course certificate upon completion</li>
      </ul>

      <h3>Course outline</h3>
      <ul>
        <li class="mb-4">What is a High Impact 1:1? </li>
        <li class="mb-4">6 Principles for High Impact 1:1
        <ul>
          <li class="mb-4">Choose collaboration over subordination</li>
          <li class="mb-4">Building and maintaining trust</li>
          <li class="mb-4"></li>
          <li class="mb-4"></li>
          <li class="mb-4"></li>
          <li class="mb-4"></li>
        </ul>  
        </li>
        <li class="mb-4">
          <h4>Before your 1:1s</h4>
        <ul>
          <li class="mb-4">Agreeing to have 1:1</li>
          <li class="mb-4">Setting a time and place</li>
          <li class="mb-4">Co-creating an agenda</li>
          <li class="mb-4">Getting ahead of issues</li>
          <li class="mb-4">Practice saying difficult things</li>
          <li class="mb-4">Staying present</li>
          <li class="mb-4">Acknowledging culture</li>
        </ul>  
        </li>
        <li class="mb-4">
          <h4>During your 1:1s</h4>
          <ul>
            <li class="mb-4">Ready? Set? Go / No-go?</li>
            <li class="mb-4">Refine the agenda</li>
            <li class="mb-4">Handling conflict</li>
            <li class="mb-4">When feelings come up</li>
            <li class="mb-4">Beyond listening, pay attention</li>
            <li class="mb-4">Questions: Ask like a coach</li>
            <li class="mb-4">Making notes</li>
            <li class="mb-4">Managing time</li>
            <li class="mb-4">Ending with care</li>
            <li class="mb-4">Critical conversation guides</li>
            <li class="mb-4">1:1 Anti-patterns and hidden dangers</li>
            <li class="mb-4"></li>
          </ul>
        </li>
        <li class="mb-4">
          <h4>After your 1:1</h4>
          <ul>
            <li class="mb-4">Taking care of yourself</li>
            <li class="mb-4">Doing what you said</li>
            <li class="mb-4">Evolving your 1:1s</li>
          </ul>
        </li>
        <li class="mb-4">
          <h4>Between 1:1s</h4>
          <ul>
            <li class="mb-4">Building an agenda</li>
            <li class="mb-4">Ad-hoc 1:1s</li>
            <li class="mb-4">Leveling up your 1:1 skills</li>
          </ul>
        </li>
      <h3>Through using this course you'll:</h3>
      <ul>
        <li class="mb-5">Develop your framework for setting up, scheduling, and structuring your 1:1s.</li>
        <li class="mb-5">Examine the 1:1 conversations that drive the growth, development, and performance the people you lead deserve.</li>
        <li class="mb-5">Break down the 5 Sources of Suck that preventing people from having High Impact Performance on your team.</li>
        <li class="mb-5">Practice difficult scenarios and conversation in a safe environment, before they happen in real life.</li>
        <li class="mb-5"></li>
      </ul>
      <div class="mt-1 pt-6">
        <a class="global-button" href="/high-impact-1-1-essentials">Ready to
          enroll?</a>
      </div>
      <div class="mt-14 p-6 bg-stone-800 rounded-md ">
        <h4 class="font-semibold">💓 Hey People Manager Satisfaction Guarantee</h4>
        <p class="mt-3 mb-0">I don't want your money if this course doesn't improve your 1:1s meetings and conversations. I'll give you a full refund within 14 days after the course ends, as long as you meet the criteria in the  <a href="/satisfaction-guarantee">refund policy</a>.</p>
      </div>
    </div>
  </section>
  <section class="section--with-grid">
    <h2 class="section-heading">Take this course if:</h2>
    <div class="section-content">
        <p>
          <strong class="font-bold">You've got 1-5 years experience managing people</strong><br>
          You'll get proven 1:1 tactics and conversation guides to boost your confidence and have steady impact in this role.
        </p>
        <p>
          <strong class="font-bold">Have managed people for over 5 years</strong><br>
          Expand and strengthen you 1:1 meeting toolkit with fresh perspectives and new proven tactics.
        </p>
        <p>
          <strong class="font-bold">Manage managers</strong><br>
          Support the growth of your managers while modelling what it looks like to manage with high consderation and competence.
        </p>
    </div>
  </section>
  <section class="section--with-grid">
    <h2 class="section-heading">Don't take this course if:</h2>
    <div class="section-content">
        <stron><strong class="font-bold">You don't manage people right now.</strong><br> <i>Okay</i> you could take the course, but you'll get more out of it if you can put your new skill into practice.</p>
        <p><strong class="font-bold">You can't schedule 1:1s with real people.</strong><br> Again, doing is the best way to learn.</p>
        <p><strong class="font-bold">You don't believe that you or the people on your team can grow and improve.</strong><br> You might consider reading <a href="/">Mindset by Caroline Dweck</a> instead.</p>
    </div>
  </section>
  <section class="section--with-grid">
    <h2 class="section-heading">What you <em>won't</em> learn</h2>
    <div class="section-content">
      <p>
        While I believe a people manager needs great 1:1 skills above all else, a well rounded manager needs a lot of skills that this course touches on but doesn't teach in detail, stuff like:
      </p>
      <ul class="list-disc">
        <li class="mb-4">How to think like a coach. <a href="#">Andrea Mignolo</a> covers this well.</li>
        <li class="mb-4">How to manage projects. <a href="#">Dave Kline</a> teaches this</li>
        <li class="mb-4">How to manage a team. <a href="#">Dave Kline</a> again</li>
        <li class="mb-4">How to build team culture.
          <a href="#">Dan Coyle</a>
          teaches this</li>
      </ul>
    </div>
  </section>
  <section class="section--with-grid section--with-subcontent section--wide-content">
    <h2 class="section-heading">I'm Farai
    </h2>
    <div class="section-content">   
      <div class="flex flex-wrap start items-start gap-12">
        <img width="288" height="216" class="object-cover rounded-md flex-[1_1_250px]" src="/assets/images/smiley-farai-madzima-3-4.jpg">
        <div class="flex-[1_1_400px]">
          <p>Born in Zimbabwe, Farai was going to be doctor but didn’t get the grades. Now he’s a coach and public speaker. Make of that what you will.</p>
          <p>Using words, scribbles, and pixels he’s spent the last 14 years helping design and build products and teams in the UK, South Africa and Canada.</p>
          <p>Today, he makes a living designing interactions and leading a team as a UX Manager at Shopify in Ottawa.</p>
          <p>In South Africa, Farai designed banking apps used by many across the continent. He grappled with unique design challenges because most internet users have never used a laptop or desktop. And some buy data by the megabyte.</p>
          <p>Farai enjoys speaking about bridging knowledge gaps between designers. He’s appeared at events worldwide, including IXDA Interaction and IASummit.</p>
          <p>Also, he adores verbiage, in all languages, township jazz, nerdy hip-hop, and the number 12</p>
        </div>
      </div>  
    </div>
  </section>
  <section class="section--with-grid">
    <h2 class="section-heading">Not ready for the Accelerator?</h2>
    <div class="section-content">
      <h3>Try one of these</h3>
      <div>
        <h4>High Impact 1:1 Essentials</h4>
      </div>
      <div>
        <h4>High Impact 1:1 Deep Dive</h4>
      </div>
    </div>
  </section>
  {{!-- {{> "course-cta-bar"}} --}}
{{/post}}