{{!< default}}

{{#post}}

<section class="section--with-grid section--wide-content">
  <div class="section-heading">
    <h1 class="low-top">{{ title }}</h1>
    <div class="course-attributes-wrapper caption">
      {{!-- <span>⭐⭐⭐⭐ 4 (15)</span> --}} {{!-- <span>Cohort-based</span> --}}
      <span>90 Minutes</span>
      <span class="mx-2">·</span>
      <span>Live &amp; Remote</span>
      <span class="mx-2">·</span>
      <span>US $99</span>
    </div>
  </div>
  <div class="section-content">
    <p class="intro-blurb">
      {{ excerpt }}
    </p>
    {{!-- {{> "btn-enroll" }} --}}
  </div>
</section>
<section class="section--with-grid">
  <h2 class="section-heading">What you'll learn</h2>
  <div class="section-content">
    <div>
      <ul>
        <li>You don't manage people right now</li>
        <li>You can't schedule 1:1s over the next 6 weeks</li>
      </ul>
    </div>
  </div>
</section>
<section class="section--with-grid">
  <h2 class="section-heading">What you'll get</h2>
  <div class="section-content">
    <h3>Half instruction. Half coaching. <br />Everything you need.</h3>
    <ul>
      <li>Lifetime access to our video</li>
      <li>8 interactive live sessions</li>
      <li>Lifetime access to course materials</li>
      <li>21 in-depth lessons</li>
      <li>Direct access to instructor</li>
      <li>1 project to apply learnings</li>
      <li>Guided feedback & reflection</li>
      <li>Private community of peers</li>
      <li>Course certificate upon completion</li>
    </ul>
  </div>
</section>
<section class="section--with-grid">
  <h2 class="section-heading">What you <em>won't</em> learn</h2>
  <div class="section-content">
    <p>
      A well rounded manager needs all these 👇🏾 things, but we think 1:1s matter the most to people
      managers.
    </p>
    <ul>
      <li>How to manage projects. <a href="#">Dave Kline</a> teaches this</li>
      <li>How to manage a team. <a href="#">Dave Kline</a> again</li>
      <li>How to build team culture. <a href="#">Dan Coyle</a> teaches this</li>
    </ul>
  </div>
</section>
<section class="section--with-grid">
  <h2 class="section-heading">Don't take this course if:</h2>
  <div class="section-content">
    <ul>
      <li>You don't manage people right now</li>
      <li>You can't schedule 1:1s over the next 6 weeks</li>
    </ul>
  </div>
</section>
<section class="section--with-grid">
  <h2 class="section-heading">Meet your instructor</h2>
  <div class="section-content">
    <h3>Farai is</h3>
  </div>
</section>
<section class="section--with-grid">
  <h2 class="section-heading">Not ready for the Accelerator?</h2>
  <div class="section-content">
    <h3>Try one of these</h3>
    <div>
      <h4>High Impact 1:1 Essentials</h4>
    </div>
    <div>
      <h4>High Impact 1:1 Deep Dive</h4>
    </div>
  </div>
</section>
{{!-- {{> "course-cta-bar"}} --}}
{{/post}}
