{{!< default}}

<section class="section--with-grid section--with-subcontent section--wide-content section--intro">
  <div class="section-heading">
    <h1 class="low-top">Peace! I'm Farai</h1>
  </div>
  <div class="section-content">
    <p class="intro-blurb">
      I <a href="#coaching">coach managers</a> and <a href="#speaking">speak</a>, about High Impact 1:1 meetings.
    </p>
    {{!-- {{> subscribe-form}} --}}
  </div>
</section>

{{#if @custom.show_courses_section}}
<section id="courses" class="section--with-grid">
  <h2 class="section-heading">Courses</h2>
  <div class="section-content">
    <div class="course-list">
      <div class="course-list-item bg-slate-50 text-zinc-950">
        <a class="text-zinc-950 p-9 block mb-10" href="/1-1-essentials">
        <h3 class="m-0 mb-0 leading-10 font-bold">1:1 Essentials for Managers</h3>
          <p class="text-lg font-medium pb-0 mb-4">Next class: Wed. June 19 at 12PM ET</p>
        <p>
          A live course to help managers and managers of managers understand 1:1 meetings and conversations.
        </p>
        {{!-- <ul class="course-details pt-0 mb-5 hidden md:block">
          <li class="pl-9 mb-1">90 minute live interactive session</li>
          <li class="pl-9 mb-1">1:1 templates &amp; tools</li>
          <li class="pl-9 mb-1">Private online community</li>
        </ul> --}}
        {{!-- <p class="text-lg pt-5">Warning: For progress, prepare to participate. No passengers.</p> --}}
        <div>
          {{!-- <a class="global-button" href="/high-impact-1-1-essentials">Learn more</a> --}}
          {{!-- <p class="text-lg pb-0 mb-3">Next class: Wed. June 19 at 12PM ET</p> --}}
          <p class="font-semibold mb-0">FREE</p>
        </div>
</a>
      </div>
      <div class="course-list-item bg-slate-50 text-zinc-950">
        <a class="text-zinc-950 p-9 block mb-10" href="/1-1-deep-dive">
        <h3 class="m-0 mb-0 leading-10 font-bold">1:1 Deep Dive for Managers</h3>
        <h4 class="text-2xl mb-5 text-slate-500">Self paced video course by Farai Madzima</h4>
        <p>
          A hands-on, 72-module, 10+ hour course that gets you started on everything you need to
          know to get a design system’s design and code up and running..
        </p>
        <h4 class="course-price">USD $599</h4>
        </a>
      </div>
    </div>
      <div class="course-list-item bg-slate-50 text-zinc-950">
        <a class="text-zinc-950 p-9 block mb-10" href="/1-1-accelerator">
      <h3 class="m-0 mb-0 leading-10 font-bold">1:1 Accelerator</h3>
      <h4 class="text-2xl mb-5 text-slate-500">45 day cohort program with Farai Madzima</h4>

      <p>
        I work with new and emerging leaders around the world to increase their people leadership
        skillset and develop effective, inclusive practices that make them better at handling the
        responsibility of looking after people's careers.
      </p>
      <h4>USD $2275</h4>
      </a>
    </div>
  </div>
</section>
  
{{/if}}
<section id="articles" class="section--with-grid">
  <h2 class="section-heading">Articles</h2>
  <div class="section-content">
    {{#get "posts" filter="tag:-newsletter" limit="all" as |articles|}}
    {{> "article-list"}}
    {{/get}}
  </div>
</section>

<section id="coaching" class="section--with-grid">
  <h2 class="section-heading">Coaching</h2>
  <div class="section-content">
    <p>
      I work with new and emerging leaders around the world to increase their people leadership
      skillset and develop effective, inclusive practices that make them better at handling the
      responsibility of looking after people's careers.
      <a href="/coaching">Not sure if you're ready for coaching?</a>
    </p>
    <br />
    {{> "btn-calendly" }}
  </div>
</section>
<section id="speaking" class="section--with-grid">
  <h2 class="section-heading">Speaking</h2>
  <div class="section-content">
    <p>
      I speak around the world and online. These days I'm focussed on talking about
      <strong>having effective 1:1 conversations between managers and team members</strong>. If
      you’d like me to speak at a public or private event, catch me on
      <strong>farai (at) hey.com</strong>.
    </p>
    <br />
    <div>
      <h3>
        Video of my talk at
        <a href="https://2019.leadingdesignconf.com/newyork">Leading Design 2019 (New York) </a>
      </h3>
      <br />
      
      <div style="padding: 56.25% 0 0 0; position: relative">
        <iframe
          title="talk-video"
          src="https://player.vimeo.com/video/350720470?title=0&byline=0&portrait=0"
          style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"
          frameborder="0"
          webkitallowfullscreen="webkitallowfullscreen"
          mozallowfullscreen="mozallowfullscreen"
          allowfullscreen="allowfullscreen"
        ></iframe>
      </div>
      <script src="https://player.vimeo.com/api/player.js"></script>
     
      <!-- <div class="video"> <div class="fluid-width-video-wrapper" style="padding-top: 56.25%;"><iframe title="talk-video"
              src="https://www.youtube.com/embed/IWS9K_rxmOY?rel=0" frameborder="0" allowfullscreen="" allow="autoplay;
              encrypted-media"></iframe></div> </div> -->
      <br />
    </div>
    <div>
      <h4>2023</h4>
      <ul class="item-appearance-list">
        <li class="item-appearance">
          <a href="https://leadingdesign.com/conferences/sanfran-2023/speakers/farai-madzima"
            >Leading Design 2023 - San Francisco</a
          >
          <br />
          <span>What to say in 1:1 meetings </span>
          <br />
          <p class="caption">
            <time>February 7, 2023</time>
            — San Francisco, USA
          </p>
        </li>

        <li class="item-appearance">
          <a href="https://www.theiaconference.com/sessions/2023-keynote-farai-madzima/"
            >IA Conference</a
          >
          <br />
          <span>Deep care doesn't scale. It happens 1:1. </span>
          <br />
          <p class="caption">
            <time>March 28, 2023</time>
            — New Orleans, USA
          </p>
        </li>
      </ul>
      <h4>2022</h4>
      <ul class="item-appearance-list">
        <li class="item-appearance">
          <a href="https://canux.io/farai-madzima/">CanUX</a>
          <br />
          <span>The Only One of Your Kind in the Room: Perils and Opportunities </span>
          <br />
          <p class="caption">
            <time>November 15, 2022</time>
            — Ottawa, Canada
          </p>
        </li>

        <li class="item-appearance">
          <a href="https://amuseconf.com/speaker/farai-madzima">Amuse UX</a>
          <br />
          <span>Designing your 1:1 </span>
          <br />
          <p class="caption">
            <time>October 6, 2022</time>
            — Budapest, Hungary
          </p>
        </li>

        <li class="item-appearance">
          <a href="https://www.mindtheproduct.com/mtpcon/san-francisco/speakers/"
            >Mind the Product</a
          >
          <br />
          <span>Working with strangers, well </span>
          <br />
          <p class="caption">
            <time>May 24, 2022</time>
            — San Francisco / Online
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
