{{!< default}}

<section class="section--with-grid  section--wide-content">
    <div class="section-heading">
        <h1 class="low-top ">High Impact 1:1 Essentials</h1>
    </div>
  <div class="section-content ">
    <p class="intro-blurb">
      Feeling stuck, unsure, or challenged in your role as a <a href="#for-people-managers">people manager</a>? Coaching brings clarity and unblocks progress for you and your people. 
    </p>

  </div>
  </section>
<section id="for-everyone" class="section--with-grid">
  <h2 class="section-heading">High Impact 1:1 Essentials</h2>
  <div class="section-content">
    <p>No matter your level of experience, the responsibility of managing people well can be "a lot". </p>
    <p> Your employer needs you to get more out of the people who report to you. <i>For less.</i>
    </p>
    <p>The people who report to you want to succeed but are distracted by uncertainty from constant changes at work, at home, and in the wider world. They need your support to handle distractions, unblock progress, and realise their potential.</p>
    <p>And you, you have your own goals and aspirations that you want to make progress on, at work, in your career, and at home.</p>
    <p><i>Like I said, it's a lot.</i></p>
    <p>In coaching we work together on specific topics that can help you identify sources of friction that might be in your way. We'll find areas to grow so that you have the impact you want to as a person, and as a leader who takes responsibility for the careers of others.</p>
    <p>Common areas that come up in coaching include:</p>
    <ul>
      <li>Stepping into a people management role</li>
      <li>Having effective 1:1 conversations</li>
      <li>Building trust with team members</li>
      <li>Having difficult conversations</li>
      <li>Delivering difficult feedback with clarity</li>
      <li>Delegating and decision making</li>
      <li>Setting goals and intended outcomes</li>
    </ul>
    <p><br>So, are you ready?</p>
    {{> "btn-calendly" }}
  </div>
</section>
<section id="for-people-managers" class="section--with-grid">
  <h2 class="section-heading">For people managers</h2>
  <div class="section-content">
    <p>No matter your level of experience, the responsibility of managing people well can be "a lot". </p>
    <p> Your employer needs you to get more out of the people who report to you. <i>For less.</i>
    </p>
    <p>The people who report to you want to succeed but are distracted by uncertainty from constant changes at work, at home, and in the wider world. They need your support to handle distractions, unblock progress, and realise their potential.</p>
    <p>And you, you have your own goals and aspirations that you want to make progress on, at work, in your career, and at home.</p>
    <p><i>Like I said, it's a lot.</i></p>
      <p>In coaching we work together on specific topics that can help you identify sources of friction that might be in your way. We'll find areas to grow so that you have the impact you want to as a person, and as a leader who takes responsibility for the careers of others.</p>
    <p>Common areas that come up in coaching include:</p>
    <ul>
      <li>Stepping into a people management role</li>
      <li>Having effective 1:1 conversations</li>
      <li>Building trust with team members</li>
      <li>Having difficult conversations</li>
      <li>Delivering difficult feedback with clarity</li>
      <li>Delegating and decision making</li>
      <li>Setting goals and intended outcomes</li>
    </ul>
    <p><br>So, are you ready?</p>
    {{> "btn-calendly" }}
  </div>
</section>

<!-- <section id="what-to-expect" class="section--with-grid">
  <h2 class="section-heading">What to expect</h2>
  <div class="section-content">
    <h3>Intake Session</h3>
    <p>It all begins with the intake session. Though we probably have a sense of where our work together will start based on the initial consultation call, intentional beginnings are an important part of building the coaching container. Intake is a chance to engage in a holistic exploration of who you are, what is calling, and what gets in your way. This session runs 90 minutes and will set the foundation and initial direction of our work. From this conversation we'll create a purpose statement that answers the question, "coaching for the sake of what?" and identify any developmental outcomes that will support the leader you are becoming and the business goals you are driving. You'll also receive:</p>
    <ul>
    <li><strong>A Kick-off Email:</strong> a welcome and overview of what to expect, what comes next, and any relevant links, readings, and tools.</li>
    <li><strong>An Enneagram Assessment:</strong> the Enneagram is a great way to kick-start the introspection process and identify strengths, blindspots, and behaviors that might get in the way of both coaching and your leadership development.</li>
    <li><strong>Intake Questions:</strong> a set of questions about you we'll explore together in the intake session. These require space and time for thoughtful reflection and are a great opportunity to learn more about yourself.</li>
    <li><strong>Coaching Manual:</strong> a collection of frameworks, models, and methods I use in my coaching practice, which also includes information on how to best utilize your executive coach (hi!).</li>
    <li><strong>First Invoice:</strong> invoices can be paid monthly or quarterly (see more on billing below).</li>
    </ul>
    <h3>Frequency</h3>
    <p>Typically we'll meet every-other week for 60 minutes either via phone or Zoom, though sessions can go longer depending on your needs. I will send a check-in email 48 hours before our session with a set of questions to help us identify the most impactful use of our time together. Sessions must be used in the month in which they occur.</p>
    <h3>Between sessions</h3>
    <p>Coaching doesn't just happen in the moments we're together, it also happens in the rich time between sessions. At the end of each session we'll reflect on what we've uncovered and from these insights we'll craft a selection of experiments, reflective exercises, practices and action items for you to take out into the world. The intention is to put new ways of being into practice and create feedback loops that can accelerate learning and transformation, practiced in a safe and supportive way.</p>
    <p> I'm always available between sessions via text and email. In your welcome materials you'll also receive a link you can use to schedule spot coaching sessions (30 minutes) as needed.</p>
    <h3>Engagement length</h3>
    <p>Coaching engagements are open ended and determined by you. It's worth noting that the work of professional and personal development is a winding, non-linear path, and because of this I ask that you commit to three months of working together. At the end of the three months we will pause and assess how it's going, and decide whether to continue working together or not. Typically folks work with me for around 9 - 12 months.
    <h3>Price and billing</h3>
    <p>I work on a retainer model and charge either monthly or quarterly. While credit cards can be accomodated, ACH is much preferred. The average cost is $1500 USD per month.</p>

  </div>
</section>
<section id="who-i-work-with" class="section--with-grid">
  <h2 class="section-heading">Who I work with</h2>
  <div class="section-content">
      <p>I work with new and emerging leaders around the world to increase their people leadership skillset and develop
    </p>
  </div>
</section>
<section id="who-i-don't-work-with" class="section--with-grid">
  <h2 class="section-heading">Who I don't work with</h2>
  <div class="section-content">
      <p>I work with new and emerging leaders around the world to increase their people leadership skillset and develop
    </p>
  </div>
</section> -->